@using Microsoft.AspNetCore.Identity
@inject SignInManager<Planiture_Website.Models.ApplicationUser> SignInManager
@inject UserManager<Planiture_Website.Models.ApplicationUser> UserManager
@inject RoleManager<Planiture_Website.Models.ApplicationRole> RoleManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if(User.IsInRole("Customer-Account"))
         {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Profile" asp-action="Index" title="Profile">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link ">Logout</button>
                    <a ></a>
                </form>
            </li>
        }
        else if (User.IsInRole("Customer-Profile"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Index" title="Account">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link ">Logout</button>
                    <a ></a>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Dashboard" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link ">Logout</button>
                </form>
            </li>
        }

        
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link " id="login" role="button" aria-haspopup="true"
               asp-area="Identity" asp-page="/Account/Login"> 
                Login
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-area="Identity" asp-page="/Account/Login">Account/Profile</a>
        </li>
    }
</ul>
