@using Planiture_Website.Models
@model dynamic

@{
    ViewData["Title"] = "Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <div class="profile-menu" id="profile">
        <h1>@ViewData["Title"]</h1>
        <br />
        <br />
        <table class="table">
             <thead>
                  <tr>
                      <th>Account Number</th>
                      <th>Account Name</th>
                      <th>Account Type</th>
                      <th>Account Version</th>
                      <th>Available Balance</th>
                      <th>Actual Balance</th>
                      <th>Withdrawal Amount</th>
                      <th>Deposit Amount</th>
                      <th>Account Status</th>
                      <th>UserID</th>
                  </tr>
             </thead>
             <tbody>
                  @foreach (Account_Info account in Model.Accountlist)
                   {
                      <tr>
                          <td>
                              @Html.DisplayFor(modelItem => account.AccountNumber)
                          </td>
                          <td>
                              @Html.DisplayFor(modelItem => account.AccountName)
                          </td>
                          <td>
                              @Html.DisplayFor(modelItem => account.AccountType)
                          </td>
                          <td>
                              @Html.DisplayFor(modelItem => account.AccountVersion)
                          </td>
                          <td>
                              @Html.DisplayFor(modelItem => account.AvailableBalance)
                          </td>
                          <td>
                              @Html.DisplayFor(modelItem => account.ActualBalance)
                          </td>
                          <td>
                              @Html.DisplayFor(modelItem => account.WithdrawalAmount)
                          </td>
                          <td>
                              @Html.DisplayFor(modelItem => account.DepositAmount)
                          </td>
                          <td>
                              @Html.DisplayFor(modelItem => account.AccountStatus)
                          </td>
                          <td>
                              @Html.DisplayFor(modelItem => account.User.Id)
                          </td>
                      </tr>
                   }
             </tbody>
        </table>
        <br />
        <br />
        <br />
        <div>
            <a style="color: goldenrod;" asp-action="Index">Back to List</a>
        </div>
    </div>
    
</body>

<style>
    .profile-menu {
        position: relative;
        padding: 100px;
        min-height: 100vh;
        background-size: cover;
        /*display: flex;*/
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 40px;
        font-weight: 200;
        margin-bottom: 10px;
        color: darkgoldenrod;
        text-transform: uppercase;
        text-align: right;
    }
    table {
        padding: 40px;
    }

    tbody {
        border: 2px solid silver;
        font-weight: 500;
        color: white;
    }

    th {
        border: 2px solid silver;
        color: goldenrod;
    }
</style>