@model Planiture_Website.Models.ApplicationUser

@{
    ViewData["Title"] = "Personal Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<asp:Content id="BodyContent" ContentPlaceHolderID="Main Content" runat="server">
    <section id="profile-background">
        <div class="profile-menu" id="profile">
            <div class="container">
                <h4>@ViewData["Title"]</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DOB)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DOB)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MemberSince)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MemberSince)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Gender)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Occupation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Occupation)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Address1)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Address1)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Address2)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Address2)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Residency)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Residency)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.City)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.City)
                    </dd><dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.State)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.State)
                    </dd><dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ZipCode)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ZipCode)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Signature)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Signature)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                </dl>
            </div>
        </div>
    </section>
</asp:Content>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<style>
    .profile-background {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background-size: cover;
        display: flex; /*changed from inline*/
        justify-content: center;
        align-items: center;
    }
    .profile-menu {
        position: relative;
        padding: 100px;
        min-height: 100vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile-menu h4 {
        font-size: 40px;
        font-weight: 200;
        margin-bottom: 10px;
        color: darkgoldenrod;
        text-transform: uppercase;
        text-align: right;
    }
    dl {
        font-size: 16px;
        text-align: left;
    }
</style>