@using Planiture_Website.Models
@model dynamic
@{
    ViewData["Title"] = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <div class="profile-menu" id="profile">
        <h1>@ViewData["Title"]</h1>
        <br />
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>Transaction Amount($)</th>
                    <th>Transaction Type</th>
                    <th>Account Number</th>
                    <th>Transaction Status</th>
                    <th>Date</th>
                    <th>User ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CusTransaction transaction in Model.Transactionlist)
                 {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.TransactionID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.TransactionAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.TransactionType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.Trans_AccountNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.TransactionStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => transaction.User.Id)
                        </td>
                    </tr>
                 }
            </tbody>
        </table>
        <br />
        <br />
        <br />
        <div>
            <a style="color: goldenrod;" asp-action="Index">Back to List</a>
        </div>
    </div>
</body>


<style>
    .profile-menu {
        position: relative;
        padding: 100px;
        min-height: 100vh;
        background-size: cover;
        /*display: flex;*/
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 40px;
        font-weight: 200;
        margin-bottom: 10px;
        color: darkgoldenrod;
        text-transform: uppercase;
        text-align: right;
    }

    table {
        padding: 40px;
    }

    tbody {
        border: 2px solid silver;
        font-weight: 500;
        color: white;
    }

    th {
        border: 2px solid silver;
        color: goldenrod;
    }
</style>